<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head"></head>

    <body>
        <nav th:replace="fragments/header :: header"></nav>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container">
            <h1>The Other Todo List</h1>
            <div>
                <textarea id="todos" class="form-control" style="width:100%;" rows="15"></textarea>
                <button id="save_todo" class="btn btn-primary btn-lg" role="button">save</button>
            </div>
        </div>
        <hr/>
        <footer th:replace="fragments/footer :: footer"></footer>
        <script>
            $(document).ready(function() {
                $.get( "rest/list.json", function( data ) {
                    $( "#todos" ).html( data.todos );
                });

                $("#save_todo").on("click", function() {
                    var todos = $("#todos").val();
                    $.ajax({
                        type: "POST",
                        url: "rest/save.json",
                        data: JSON.stringify({ "todos": todos }),
                        contentType: "application/json",
                        success: function(msg){
                            console.log(msg.message)
                        }
                    });
                });
            });
        </script>
    </body>
</html>
