<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head"/>

    <body>
        <nav th:replace="fragments/header :: header"/>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>The Other Todo List</h1>
                <form id="todos">
                    <textarea id="list"/>
                    <input type="submit" class="btn btn-primary btn-lg" href="#" role="button" value="Save"/>
                </form>
            </div>
        </div>
        <hr/>
        <footer th:replace="fragments/footer :: footer"/>
        <script>
            $(function () {
                console.log("ready!");
                $.ajax("rest/list.json", {
                    complete: function (d) {
                        // once it returns
                        console.log('shit just got real');
                    }
                });
            });
        </script>
    </body>
</html>
