<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head"/>
    <body>
        <header th:replace="fragments/header :: header"/>
        <div class="container">           
            <!-- Example row of columns -->

            <h2 th:text="#{error_uncaughtexception_title}">error title</h2>
            <p th:text="#{error_uncaughtexception_problemdescription}">error description</p>  

            <hr/>

        </div> 
        <footer th:replace="fragments/footer :: footer"/>
    </body>
</html>

